<div class="text-base">
  <h1 class="font-bold text-4xl">Projects</h1>

  <p>This is the Projects application.</p>

  <% unless current_user %>
    <p>
      <%= link_to "Sign in", new_session_path, class: "text-indigo-600 underline" %>
      to start.
    </p>
  <% end %>

  <%= image_tag "steve-johnson-5Oe8KFH5998-unsplash.webp" %>
</div>
