<div class="mb-4 space-y-4 flex flex-col md:flex-row items-start md:items-center justify-between w-full">
  <h1 class="font-bold text-4xl mx-auto md:mx-0">Active Projects</h1>
  <%= link_to "New project", new_project_path, class: "button w-1/2 md:w-auto md:mx-0 mx-auto" %>
</div>

<% @projects.each do |project| %>
  <%= render project, user: current_user %>
<% end %>

<div class="flex flex-row justify-end w-full mb-8">
  <%= link_to "New project", new_project_path, class: "button w-1/2 md:w-auto md:mx-0 mx-auto" %>
</div>

