<h1 class="font-bold text-4xl my-8">Active Projects</h1>

<% @todo_projects.each do |project| %>
  <%= render project, user: current_user %>
<% end %>

<%= link_to "New project", new_project_path, class: "button" %>


<h2 class="font-bold text-3xl mt-8 mb-4">Done Projects</h1>

<% @done_projects.each do |project| %>
  <%= render "done_project", project: project, user: current_user %>
<% end %>
