<h1 class="my-8 font-bold text-4xl"><%= @project.name %></h1>

<%= status_for(@project) %>

<div><%= @project.description %></div>

<%= link_to "Edit", edit_user_project_path(@user, @project), 
  class: "button" %>
